.nav {
    height: 64px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.36);
    position: fixed;
    display: table;
}

.nav .nav__button {
    background: none;
    border: none;
    height: 64px;
    width: 64px;
    padding: 24px;
    float: right;
}

.nav .nav__button>.fa-bars {
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: #fff;
}


.nav .nav__list {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 64px;
    margin: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.36);
    display: none;
}

.nav .nav__list>.nav__list__item {
    height: 64px;
    margin: 0 8px;
    padding: 0 8px;
    line-height: 64px;
}

.nav .nav__list>.nav__list__item:hover,
.nav .nav__list>.nav__list__item:active {
    background-color: rgba(0, 0, 0, 0.12)
}

.nav .nav__list>.nav__list__item>a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: inline-block;
}

@media (min-width: 992px) {
    .nav .nav__button {
        display: none;
    }

    .nav .nav__list {
        display: block !important;
        position: static;
        background-color: transparent;
        top: auto;
        float: right;
        width: auto;
    }

    .nav .nav__list>.nav__list__item {
        float: left;
    }
}