.video__player {
    margin: 8px;
}

.video__list__container {
    margin: 8px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

ul.video__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    border-radius: 8px;
    cursor: pointer;
}


ul.video__list ._video {
    padding: 16px;
}

@media (max-width: 767px) {
    .video__list__container .ratio8_9 {
        padding-bottom: 0;
    }

    .video__list__container .ratio8_9>.ratio__content {
        position: static;
        height: auto;

    }
}